<div th:fragment="navigation">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Keyboard Builder</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">My Builds</a>
            <a class="p-2 text-dark" href="/guides">Guides</a>
            <div class="dropdown-menu p-2 text-dark" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item p-2 text-dark" href="/keycaps-group-buy">Keycaps</a>
                <a class="dropdown-item p-2 text-dark" href="/switches-group-buy">Switches</a>
                <a class="dropdown-item p-2 text-dark" href="/cases-group-buy">Cases</a>
                <a class="dropdown-item p-2 text-dark" href="/keyboards-group-buy">Keyboards</a>
            </div>
        </nav>
    </div>
</div>